<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/d90b7d915f.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="w-full h-screen  p-10 ">
     

        <nav  class="flex w-full justify-between pl-10 pr-14">
            <div>
                <a href="/" class="font-semibold text-xl">Khatabook</a>
            </div>
            <div class="flex gap-8">
                <a href="" class="font-semibold ">Home</a>
                <a href="/create" class="font-semibold  cursor-pointer">Create New Hisab</a>
            </div>
        </nav> 



        <div class="flex w-full justify-between mt-10 pl-10 pr-14">
            <div class="flex gap-3 ">
                <div class="w-8 h-8 rounded-[50px] overflow-hidden">
                    <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/sticker/h/2/o/medium-sreeleela-wall-sticker-actress-sreeleela-cute-smile-wall-original-imagx29tswxvu5fb.jpeg?q=90&crop=false" class="object-cover" alt="">
                </div>
                <h1 class="text-2xl font-semibold"> <span class="text-blue-600">Hi, </span>roni👋</h1>
            </div>
            <a class=" flex item-center px-5 py-2 text-white bg-red-600 text-sm rounded-md" href="/logout">logout</a>
        </div>
       

        <div class="post pl-10 pr-14">
            <h1 class="mt-8 text-black tetx-green- text-xl font-semibold mb-6">All Hisaab</h1>

            <div class="post-container flex flex-wrap gap-3 ">
            
                
                        <div class="allpost mt-2 w-1/5 p-4 pl-6 pb-2 rounded-md bg-zinc-100 hover:bg-zinc-200 cursor-pointer ">
                            <div class="flex justify-between w-full">
                                <h4 class="text-white text-sm px-3 py-1 bg-green-600 w-[6rem] rounded-sm"> <i class="fa-solid fa-check text-xs"></i> Available</h4>
                                <h4 class="text-xs text-gray-400">Create on 2025-03-13</h4>
                            </div>
                            <p class="text-md font-semibold mt-2 tracking-tight">Lorem ipsum dolor</p>
                            <a href="" class="mt-2 text-xs text-gray-400 ">view hisaab <i class="fa-solid fa-chevron-right fa-xs"></i></a>
                              
                        </div>
                      
                        
                 
              

                
                
            </div>
        </div>
    </div>

</body>
</html>